# Configuracion general de la aplicacion.
APP_NAME=Novitec DWH
APP_ENV=development
APP_DEBUG=true
LOG_LEVEL=INFO
API_V1_PREFIX=/api/v1
LOG_DIRECTORY=logs

# Configuracion de extraccion por lotes.
ETL_CHUNK_SIZE=1000
ETL_RAW_BASE_PATH=data/raw
ETL_FINANCIAL_EXTRACTION_ID=

# Conexion a MySQL origen transaccional.
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=railway
MYSQL_USER=root
MYSQL_PASSWORD=secret

# Conexion a PostgreSQL destino analitico.
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=novitec_dwh
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_FINANCIAL_STAGING_SCHEMA=stg_financial
